@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: Avenir;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #ffc700;
}

.headerContent {
    width: 1110px;
    margin: auto;
    display: flex;
    margin-top: 3px;
    margin-bottom: 6px;
    justify-content: space-between;
}

#logo {
    height: 100%;
    width: auto;
}

.headerRows {
    display: flex;
    flex-direction: column;
}

.upperRow {
    display: flex;
    height: 40px;
    align-self: center;
    justify-self: center;
}

.upperRow>* {
    margin-left: 8px;
    border-radius: 3px;
}

.producten {
    width: 148px;
    display: block;
    /* display: flex;
    justify-content: space-between; */
}

.producten>label {
    width: 100%;
    height: 100%;
    width: 148px;
    padding-left: 9px;
    padding-right: 8px;
}

.producten input[type=checkbox] {
    display: none;
    width: 148px;
    width: 100%;
    height: 100%;
}

.producten ul {
    display: none;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    padding-left: 0px;
}

.producten li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input[type=checkbox]:checked~ul {
    display: block;
}

.searchForm {
    display: flex;
    flex-grow: 1;
    max-width: 507;
}

.searchForm button {
    font-size: 14px;
    padding-right: 9px;
}

#searchInput {
    flex-grow: 1;
    padding-left: 8px;
}

.light {
    background-color: white;
}

.toggle-label {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background-color: white;
}

.toggle-label input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-label input[type=checkbox]+.back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-label input[type=checkbox]+.back .toggle {
    display: block;
    position: absolute;
    content: ' ';
    background: black;
    width: 50%;
    height: 100%;
    transition: margin 150ms linear;
}

.toggle-label input[type=checkbox]:checked+.back .toggle {
    margin-left: 40px;
}

.toggle-label .label {
    display: block;
    position: absolute;
    width: 50%;
    text-align: center;
    font-family: Avenir;
    font-size: 12px;
}

.toggle-label .label.on {
    left: 0px;
}

.toggle-label .label.off {
    right: 0px;
}

.login {
    display: inline-flex;
    flex-wrap: nowrap;
}

.login button {
    font-size: 14px;
    font-family: Avenir;
}

.basket {
    display: inline-flex;
}

.lowerRow {
    font-size: 12px;
    font-weight: 900;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

.producten,
input[type=search],
input[type=email] {
    font-size: 14px;
    font-weight: 900;
    border: none;
    font-family: Avenir;
}

.inverted {
    background-color: black;
    color: white;
}

::placeholder {
    color: #aaaaaa;
}

input,
button {
    border: none;
}

main {
    max-width: 1110;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#aside_promo {
    display: flex;
    flex-wrap: wrap;
}

#aside_promo>aside>nav {
    display: flex;
    flex-direction: column;
}

#aside_promo>aside>nav a {
    color: black;
}

#aside_promo>#promo {
    display: flex;
    flex-wrap: wrap;
}

.promoCard {
    background-color: #f5f5f5;
}