@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: Avenir;
}

header {
    display: flex;
    background-color: #ffc700;
}

.headerContent {
    width: 1110px;
    margin: auto;
    display: flex;
    margin-top: 3px;
    margin-bottom: 6px;
    justify-content: space-between;
}

#logo {
    height: 100%;
    width: auto;
}

.upperRow {
    display: flex;
    /* justify-content: space-between; */
}

.searchForm {
    display: flex;
    flex-grow: 1;
}

#searchInput {
    flex-grow: 20;
}

.lowerRow {
    font-size: 12px;
    font-weight: 900;
}

.producten,
input[type=search],
input[type=email] {
    font-size: 14px;
    font-weight: 900;
    border: none;
}

.inverted {
    background-color: black;
    color: white;
}

::placeholder {
    color: #aaaaaa;
}

input,
button {
    border: none;
}